@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
body {
    background-color: rgb(4, 29, 29);
    font-family: 'Protest Strike', sans-serif;
}

.container {
    width: 40vw;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
    margin-top: 5px;
}
input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(10, 128, 128);
    outline: none;
    font-size: 19px;
}
button{
    width: 60px;
    cursor: pointer;
    height: 41px;
    background-color: rgb(4,29,29);
    color: white;
    border-radius: 2px;
    font-size: 19px;
    border: none;
    outline: none;

}
.text ul{
    position: relative;
    background-color: rgb(13, 51, 51);
    color: white;
    font-size: 19px;
    text-align: left;
    padding: 7px;
    transition: 4s ease-in;
}
.text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;


}